@font-face
{
  font-family: Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf');
}
@font-face
{
  font-family: Roboto-Bold; font-weight:800; src: url('../fonts/Roboto-Bold.ttf');
}
html, body
{
  height: 100%;
  margin: 0;
}
body 
{
  background: #f4f4f4;  
  padding-bottom: 200px;
}
* 
{
  font-family: Roboto-Regular;
}
h1, h2, h3, h4, h5
{
  font-family: Roboto-Bold; margin:10px;
}
hr
{
  border: 1px solid #f5f5f5;
}

input[class*="toggle"] {
   display: none;
}

input[class*="toggle"]:checked ~ .products { 
    left: 0;
}

input[class*="toggle"]:checked ~ .cart-details { 
    display:block;
    z-index: 5;
    width: 100%;
}

.toggle-label {
    z-index: 9999;
    position: fixed;
    top: 4px;
    left: 12px;
    background-color: transparent;    
    color: #fff;    
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    padding: 0px;
    font-size: 24px;
}

.toggle-label {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .toggle-label 
    {
        display:none !important;
    }
}

input[type="text"], input[type="number"]
{
  padding: 3px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 60%;
  background: transparent;
}
input[type="text"]:focus, input[type="text"].focus,
input[type="number"]:focus, input[type="number"].focus 
{
  border-bottom: solid 2px #969696;
}
button
{
  width: 100%;
  padding: 3px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
table
{
  border-collapse: collapse;
  width: 100%;
}
thead
{
  color: #fff;
  background: #000;
  text-align: left;
}
td
{
  font-size:14px;
  padding: 3px;
  border-bottom: 1px solid #e0e0e0;
}
tbody > tr:hover
{
  background: #e0e0e0;
}
select
{
  padding: 10px;
  font-size: 15px;
  width: 100%;
  border: 2px solid black;
  background: #fff;
}
select::-ms-expand
{
  display: none;
}
article
{
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  border:1px solid #e0e0e0;
  background: #fff;
  overflow: hidden;
}

.navbar
{
  height: 40px;
  background: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#display-cash
{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    padding: 0 25px 0 25px;
    margin: 2px 0 0 45px;
}
.container
{
  width: 100%;
  margin-top: 40px;
}
.cart-details
{
  width: 25%;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.products
{
  width: 75%;
  height: auto;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 25%;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.product-img
{
  width:100%;  
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.product-img img
{
  width: 100%;
  box-sizing: border-box;
}
.price-tag
{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border:none;
  color: #000;
  font-size: 0.8em;
}
@media only screen and (max-width: 768px)
{
  [class*="products"]
  {
    width: 95%;
    left: 0;
  }
  [class*="cart-details"]
  {
   display: none;
  }  
  article
  {
    width: 25%;
  }
}
@media screen and (max-width: 480px)
{
  article
  {
    width: 45%;
  }  
}

@media screen and (max-width: 580px)
{
  .copyright
  {
    display: none;
  } 
}
.add-btn
{
  background-color:dodgerblue;
  box-shadow: 0 3px #0358a2;
  color: #fff;
  width: 30px;
}
.add-btn:hover,
.add-btn.hover,
.add-btn:active,
.add-btn.active
{
  background-color: #0099ff;
}
.add-btn:active,
.add-btn.active
{
  box-shadow: 0 3px #0358a2;
  transform: translateY(1px);
}
.remove-btn
{
  background-color: #e74c3c;
  padding: 1px !important;
}
.remove-btn:hover,
.remove-btn.hover,
.remove-btn:active,
.remove-btn.active
{
  background-color: #fc8e83;
}
.remove-btn:active,
.remove-btn.active
{
  transform: translateY(1px);
}
.pay-btn
{
  background-color: dodgerblue;  
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
}
.pay-btn:hover,
.pay-btn.hover,
.pay-btn:active,
.pay-btn.active
{
  background-color: #0099ff;
}
.pay-btn:active,
.pay-btn.active
{  
  transform: translateY(1px);
}
.details-table
{
  border: 1px solid;
  height: 200px;
  margin: 10px 20px 0px 20px;
  overflow: auto;
}
.badge
{
  padding: 4px;
  font-size: 13px;
  background: yellow;
  font-weight: normal;
  margin: 0 auto;
    
}
.shipping
{
  margin: 10px 20px 0px 20px;
}
.stars
{
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 8em;
}
.stars input
{
  position: absolute;
  left: -999999px;
}
.stars label
{
  display: inline-block;
  font-size: 0;
}
.stars > label:before
{
  position: relative;
  font: 18px/1 FontAwesome;
  display: block;
  content: "\f005";
  color: #ccc;
  background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stars > label:hover:before,
.stars > label:hover ~ label:before,
.stars > label.selected:before,
.stars > label.selected ~ label:before
{
  cursor: pointer;
  color: #f0ad4e;
  background: -webkit-linear-gradient(-45deg, #FFE985 0%, #FA742B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
