// Fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Work+Sans:wght@400;500;700&display=swap");

// Reset basic styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // So that 1rem = 10px
    scroll-behavior: smooth;
}

body {
    background: $white;
    color: $bistre;
    font-size: 1.4rem;
    font-family: $body;
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-family: $body;
    color: $bistre;
    transition: all 0.3s ease;
    position: relative;

    &.simple {
        @include link-hover-effect($bistre);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading;
    color: $bistre;

    &.section-title {
        font-family: $body;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 2.5rem 0;
        position: relative;

        &::before,
        &::after {
            content: "";
            min-width: 15rem;
            border: 3px solid $eggshell;
            display: inline-block;
            position: relative;
            bottom: 5px;
            background: transparent;
        }

        &::before {
            margin-right: 3rem;
        }

        &::after {
            margin-left: 3rem;
        }
    }
}

h1 {
    font-size: 4.5rem;
    color: $white;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.1rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.5rem;
}

// Sections
section {
    margin-top: 3rem !important;
}

// Forms
form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        align-self: flex-start;
        font-weight: 500;

        &:not(:first-child),
        &:not([for="checkbox"]) {
            padding-top: 2rem;
        }

        &[for="checkbox"] {
            cursor: pointer;
        }

        span.warning {
            font-size: 1.2rem;
            font-style: italic;
            color: lighten(#ff0000, 10%);
            display: block;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input:not([type="radio"]) {
        margin-top: 0.8rem;
        padding: 1.5rem 0.8rem;
        border: 1px solid lighten($bistre, 50%);
        border-radius: 0;
        font-size: 1.6rem;
        font-family: $body;

        &:focus {
            border: 1px solid black;
        }
    }

    input[type="checkbox"] {
        vertical-align: bottom;
    }

    input[type="radio"] + label {
        padding-top: 0;
    }
}
