// Fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Work+Sans:wght@400;500;700&display=swap");

// Reset basic styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // So that 1rem = 10px
}

body {
    background: $white;
    color: $bistre;
    font-size: 1.4rem;
    font-family: $body;
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-family: $body;
    color: $bistre;
    transition: all 0.3s ease;
    position: relative;

    &.simple {
        &::before {
            content: "";
            height: 1px;
            width: 100%;
            background: $bistre;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: all 0.3s ease;
            transform: scaleX(0);
            transform-origin: left;
        }

        &:hover {
            color: $grullo;

            &::before {
                background: $grullo;
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading;
    color: $bistre;
}

h1 {
    font-size: 4.5rem;
    color: $white;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.1rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.5rem;
}

// Forms
form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        align-self: flex-start;
        font-weight: 500;

        &:not(:first-child),
        &:not([for="checkbox"]) {
            padding-top: 2rem;
        }

        &[for="checkbox"] {
            cursor: pointer;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        margin-top: 0.8rem;
        padding: 1.5rem 0.8rem;
        border: 1px solid lighten($bistre, 50%);
        border-radius: 0;
        font-size: 1.6rem;
        font-family: $body;

        &:focus {
            border: 1px solid black;
        }
    }

    input[type="checkbox"] {
        vertical-align: bottom;
    }
}
