// Default styles for both lateral sidebars
@mixin lateralsidebar-base {
  background-color: #fff;
  padding: 2rem;
  width: 40rem;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: transform 250ms;

  &.active {
    transform: scale(1, 1);
  }

  .container  {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media screen and (max-width:700px) {
    width: 100%;
  }
}

// Default styles for the sidebar title and 'close' button
@mixin menu-title {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #ededed;

  &, & span {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 2.6rem;
  }

  button[class$="-sidebar-toggle"] {
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    font-size: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    line-height: .6;
    transition: background-color .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #aeaeae;
    }

    ion-icon {
      width: 3.6rem;
      height: 3.6rem;
    }
  }
}