{% if flash_message is not empty %}
<span class="flash_message flash_message--{{ flash_message.type }}">
  {{ flash_message.message }}
</span>
{% endif %}

{% if current_user is not empty %}
<div class="budget">
  <h4>Current balance:</h4>
  <span class="balance-text">${{ balance }}</span>
</div>

<div class="cart-details">
  <h4>My cart details</h4>
  <div class="body">
    {% if user_cart is not empty %}
    <table class="item">
    {% for item in user_cart %}
      {% for product in data %}
        {% if product.product_id == item.product_id %}
          <tr>
            <td><img src="{{ product.picture }}" alt="{{ product.description }}"></td>
            <td>
              <p class="title"> {{ product.description }}</p> 
              <p class="quantity"> Quantity: {{ item.quantity }}</p>
            </td>
            <td>
              <a href="remove-item/{{ item.product_id }}" class="danger"> <i class="fas fa-times"></i> </a>
            </td>
            <td>
              <span class="subtotal">${{ item.subtotal }}</span>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </table>
    {% else %}
    <center> Your cart is empty </center>
    {% endif %}
  </div>
</div>

{% if user_cart is not empty %}
<a href="confirm-payment" class="primary"> Proceed to payment </a>
{% endif %}
{% else %}
&nbsp;
{% endif %}