<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title> Shopping Cart App</title>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-left">
          <ul>
            <li><a href="home"> Home</a></li>
            <li><a href="store"> Store</a></li>
          </ul>
        </div>

        <div class="navbar-right">
          <ul>
            {% if current_user %}
            <li> Welcome, <a href="#"> {{ current_user.name }} </a> </li>
            <li> <a href="logout" class="btn btn-danger">Logout</a>
            {% else %}
            <li><a href="login" class="btn btn-default">Login</a></li>
            <li><a href="register" class="btn btn-primary">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
      Made by <a href="https://github.com/crjoseabraham" class="info">Jose Abraham Castillo</a>
    </footer>
  </div>
</body>
</html>