<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title> Shopping Cart App</title>
</head>
<body>
  <nav class="navbar">
    <a href="home" class="brand"> Shopping Cart App</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <ul class="menu">
      <li><a href="home"> Home</a></li>
      <li><a href="store"> Store</a></li>
      {% if current_user %}
      <li> <a href="#" class="link-text"> My Profile </a> </li>
      <li> <a href="logout" class="secondary">Logout</a>
      {% else %}
      <li><a href="login" class="primary">Login</a></li>
      <li><a href="register" class="light">Register</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block content %}

  {% endblock %}

  <footer>
    Made by&nbsp;<a href="https://github.com/crjoseabraham" class="link-text">Jose Abraham Castillo</a>
  </footer>
</body>
</html>