<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" type="image/png" href="img/favicon.png">
		<link rel="stylesheet" href="css/main.css">
		<title>minimarket | A shopping cart app made with vanilla PHP and JavaScript ES6</title>
	</head>

	<body>
		<div id="overlay" class="overlay"></div>

		<div class="modal" id="modal">
			<div class="container"></div>
		</div>

		<div class="left-sidebar">
			<div class="container"> </div>
		</div>

		<div class="right-sidebar">
			<div class="container"> </div>
		</div>
		{{ include ('components/flash_message.html') }}
		{{ include ('core/navbar.html') }}
		{% block content %}

		{% endblock %}
		<script src="js/app.bundle.js"></script>
		<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
	</body>
</html>