<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" href="assets/styles/main.css" />
        <title>
            About the fit | An ecommerce app made with pure PHP and vanilla
            JavaScript
        </title>
    </head>

    <body>
        {{ include ('components/navbar.html') }}
        <!-- {{ include ('components/flash_message.html') }}
        {{ include ('components/cookie_banner.html') }} -->
        {% block content %} {% endblock %} {{ include ('core/footer.html') }}
        <script
            src="https://kit.fontawesome.com/eea5dcc8ef.js"
            crossorigin="anonymous"
        ></script>
        <script src="assets/scripts/app.js"></script>
    </body>
</html>
