<nav>
  <ul>
    <li>
      <button class="navbar-menu-toggle" id="menu-toggle">
        <ion-icon name="menu"></ion-icon>
        <span>MENU</span>
      </button>

      <div class="menu">
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>
      </div>
    </li>
    <li>
      logo
    </li>
    <li>
      <button class="navbar-cart-toggle">
        <span>Access</span>
        <ion-icon name="contact"></ion-icon>
      </button>
    </li>
  </ul>
</nav>