<header>
	<button class="left-sidebar-toggle load-template menu" id="left-sidebar">
		<ion-icon name="menu"></ion-icon>
		<span class="button-title">Menu</span>
	</button>

	<a href="#" class="brand">
		<img src="img/logo.png" alt="minimarket Logo">
	</a>

	{% if current_user is empty %}
	<button class="right-sidebar-toggle load-template login" id="right-sidebar">
		<span class="button-title">Access</span>
		<ion-icon name="contact"></ion-icon>
	</button>
	{% else %}
	<button class="right-sidebar-toggle load-template cart" id="right-sidebar">
		<span class="button-title">Cart</span>
		<ion-icon name="cart"></ion-icon>
	</button>

	<a href="logout" class="logout-button">
		<span class="button-title">Log out</span>
		<ion-icon name="power"></ion-icon>
	</a>
	{% endif %}
</header>