<header>
	<button class="left-sidebar-toggle load-template menu" id="left-sidebar">
		<i class="icon ion-ios-menu"></i>
		<span class="button-title">Menu</span>
	</button>

	<a href="/shoppingcart" class="brand">
		<img src="img/logo.png" alt="minimarket Logo">
	</a>

	{% if current_user is empty %}
	<button class="right-sidebar-toggle load-template login" id="right-sidebar">
		<span class="button-title">Access</span>
		<i class="icon ion-ios-key"></i>
	</button>
	{% else %}
	<button class="right-sidebar-toggle load-template cart" id="right-sidebar">
		<span class="counter">{{ user_cart|length }}</span>
		<span class="button-title">Cart</span>
		<i class="icon ion-md-cart"></i>
	</button>

	<a href="logout" class="logout-button">
		<span class="button-title">Logout</span>
		<i class="icon ion-ios-log-out"></i>
	</a>
	{% endif %}
</header>