button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: $body;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;

    &--blank {
        border: 1px solid $white;
        overflow: hidden;
        position: relative;
        color: $white;

        &::after {
            background: $white;
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.4;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 1;
        }

        &:hover::after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    &--link {
        padding: 0;
        color: lighten($bistre, 40%);
        border: none;
        background: transparent;
    }
}
