button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: $body;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;

    &--icon {
        font-size: 2rem;
        color: $bistre;
        padding: 0;
        background: transparent;
        border: none;
        margin-left: 3rem;
        transition: all 0.3s ease;
        @include link-hover-effect($bistre);

        &::before {
            display: none;
        }
    }

    &--blank {
        color: $white;
        border: 1px solid currentColor;
        padding: 1.3rem 2rem;
        @include btn-hover-effect(50px, 550ms, 0.4);
    }

    &--mini {
        padding: 0;
        font-size: 1.4rem;
        background: transparent;
        border: none;
        text-transform: none;
        color: $tulip;
        position: relative;

        @include link-hover-effect($tulip);
    }

    &--link {
        padding: 0;
        color: lighten($bistre, 40%);
        border: none;
        background: transparent;
    }

    &--simple {
        background: transparent;
        border: none;
        padding: 0;
        font-size: 1.6rem;
        position: relative;
        @include link-hover-effect($bistre);
    }

    &--primary {
        padding: 1.3rem 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        border: none;
        color: $white;
        background: #000;
        @include btn-hover-effect(90px, 500ms, 0.8);
    }
}
