.popup__content[data-action="cart"] {
    // 404
    .cart-content.empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.2rem;
        color: #bbb;

        i {
            font-size: 4.5rem;
            padding-bottom: 2rem;
            margin-top: 2rem;
        }
    }
    // Fixed buttons at the bottom
    .cart-footer {
        background: $white;
        border-top: 2px solid $eggshell;
        padding: 1.5rem 8rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;

        .cart-form {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: fit-content;
            }
        }

        span.cart-total {
            text-align: center;
            font-weight: 500;
            font-size: 1.8rem;

            i {
                font-size: 1.4rem;
            }
        }
    }

    .cart-content {
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 1.5rem;

            caption {
                font-size: 2rem;
                font-style: italic;
                font-family: $heading;
                text-align: center;
                padding-bottom: 1rem;
            }

            thead th {
                font-weight: 500;
                text-align: left;
            }

            th,
            td {
                padding: 0.5rem 2rem;
            }

            tr:not(:last-child) {
                border-bottom: 1px solid lighten($bistre, 70%);
            }

            tr img {
                max-height: 70px;
            }
        }

        .cart-item-details {
            width: 100%;
        }
        .cart-item-info {
            span.description {
                font-weight: 500;
            }
            span.extra {
                display: flex;
                flex-direction: column;
            }
        }

        .remove-btn {
            cursor: pointer;
            color: #ffffff;
            background: darken($tulip, 10%);
            padding: 2px 1.5rem;
            border-radius: 10px;
            border: none;
            font-size: 1.4rem;
            display: block;
            width: fit-content;
            transition: all 0.3s ease;

            &:hover {
                background: darken($tulip, 20%);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #menu .menu__popup .popup__content[data-action="cart"] {
        padding: 4rem 2rem 8rem 2rem !important;
    }
    .cart-action-buttons {
        padding: 1rem 1.8rem !important;
    }

    .cart-content table {
        caption {
            font-size: 2.4rem !important;
            padding-left: 2rem;
        }
        th.image-thead,
        td.image-tbody {
            display: none;
        }
        thead {
            display: none;
        }
        tbody tr {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            position: relative;

            td {
                max-width: 75%;
                font-size: 1.8rem;
                width: 100%;
                display: flex;
                align-items: center;

                &::before {
                    content: attr(data-label);
                }

                &.cart-subtotal,
                &.cart-remove-btn {
                    width: fit-content;
                    font-size: 2rem;
                    font-weight: 500;
                    width: 20%;
                    position: absolute;
                    text-align: right;
                }

                &.cart-subtotal {
                    top: 2rem;
                    right: 0;
                }

                &.cart-remove-btn {
                    bottom: 3.2rem;
                    right: 1rem;
                    font-size: 2.5rem;
                }
            }
        }
    }
}
