.glider-contain.single-item .glider {
    width: 260px;
}

.glider-contain.multiple-items .glider {
    width: calc(260px * 4);
}

.glider-track {
    scrollbar-width: none;
}

.glider-slide {
    width: 255px;
    margin: 0 0.25rem;
}

.glider-next,
.glider-next:focus,
.glider-prev,
.glider-next:focus {
    color: $tulip;
}

.glider-prev {
    left: 0;
}

.glider-next {
    right: 0;
}

@-moz-document url-prefix() {
    .glider-track {
        margin-bottom: 17px;
    }
    .glider-wrap {
        overflow: hidden;
    }
}
