.glider-contain.single-item .glider {
    width: 260px;
}

.glider-contain.multiple-items .glider {
    width: calc(260px * 4);
}

.glider-slide {
    width: 255px !important;
    margin: 0 0.25rem;
}

.glider-next,
.glider-next:focus,
.glider-prev,
.glider-next:focus {
    color: $tulip;
}

.glider-prev {
    left: 0;
}

.glider-next {
    right: 0;
}
