.item-details__picture {
    width: 45%;
    overflow: hidden;

    img {
        max-width: 100%;
    }
}

.item-details__info {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem;

    h3,
    h4 {
        font-weight: 500;
    }

    h4 {
        color: lighten($bistre, 35%);
        line-height: 1.8;
    }

    .rating-votes {
        color: lighten($bistre, 60%);
        font-family: $body;
        font-style: italic;
        font-size: 1.2rem;
    }

    form.add-to-cart {
        height: 100%;

        button[type="submit"] {
            margin-top: auto;
        }
    }
}
