.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
    background: rgba($color: #000000, $alpha: 0.3);

    &.active {
        visibility: visible;
        z-index: 999;

        & .modal__content {
            opacity: 1;
        }
    }

    &__content {
        position: fixed;
        width: 50rem;
        top: 3rem;
        left: 50%;
        z-index: 1000;
        opacity: 0;
        background-color: darken($white, 2%);
        transform: translate(-50%, 0);
        transition: all 0.3s ease;

        #close-modal {
            font-size: 2.8rem;
            color: $bistre;
            display: block;
            float: right;
            margin: 1rem 2rem;

            &::after {
                content: " ";
                display: block;
                clear: both;
            }
        }

        .template-container {
            padding: 8rem 6rem;
            text-align: center;
        }

        .modal__title {
            h3 {
                font-size: 2.5rem;
            }
            p {
                padding-top: 2rem;
            }
        }
    }
}
