// navbar
#menu {
    padding-top: 2rem;
    position: relative;

    //responsive buttons
    .menu__responsive {
        // display: flex;
        display: none;
        justify-content: space-between;
    }

    //navbar links and logo
    .menu__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .menu__brand {
            padding-left: 0;

            &::before {
                display: none;
            }

            .menu__logo {
                max-height: 6rem;
            }
        }

        a {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            padding-left: 1rem;

            &::before {
                width: calc(100% - 1rem);
                position: absolute;
                bottom: -2px;
                left: 1rem;
            }
        }
    }
}
