.right-sidebar {
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
  @include lateralsidebar-base;

  // SIDEBAR MENU TITLE
	.menu-title {
		@include menu-title;
  }

  a.link {
    font-size: 1.6rem;
    color: $dark;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}