.select-boxes-container {
    display: flex;
}

.select-box__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    user-select: none;
    width: fit-content;

    &:not(:first-child) {
        margin-left: 3rem;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            .option {
                padding: 0.5rem 1.5rem;
                font-size: 2rem;
                font-family: $body;
                text-transform: uppercase;
            }
        }
    }

    .select--default {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        min-width: 70px;
        max-width: 100px;

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;

            .option.selected {
                padding: 0;
                font-size: 3rem;
                flex: 1;
            }

            .select--title {
                font-size: 1.3rem;
                color: lighten($bistre, 35%);
                flex: 100%;
            }

            .arrow {
                flex: 5;
                color: lighten($bistre, 50%);
                font-size: 2.2rem;
                transform: rotate(0deg);
                transition: all 0.3s ease-in-out;

                i {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &.active {
            .arrow {
                transform: rotate(180deg);
                top: 2.5rem;
            }
            & + .select--options {
                display: flex;
            }
        }
    }

    .select--options {
        background-color: $white;
        border: 1px solid black;
        width: 8rem;
        height: 12rem;
        display: none;
        flex-direction: column;
        overflow: auto;
        position: absolute;
        z-index: 1000;
        top: 104%;
        left: -1rem;

        li {
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: $eggshell;
            }
        }
    }
}
