*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -1rem 2rem #353531;
}

nav img {
  max-height: 5rem;
  display: block;
  margin: .4rem auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

section .container {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 4rem;
}

section .container h1 {
  font-size: 1.6rem;
  text-align: center;
}

.update-info .input-group {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.update-info .input-group label {
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-info .input-group input {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: #016fb9;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: darkblue;
}

@media screen and (max-width: 600px) {
  nav img {
    max-height: 4rem;
    margin: 1.2rem auto;
  }
}