:root {
	--main-dark: #0c131b;
	--main-purple: #2c47a3;
	--main-amaranth: #fc3051;
	--main-yellow: #ffd012;
	--main-white: #fff;
	--light-grey: #e5e5e5;
}

/* BASE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-purple);
	font-family: 'Varela Round', sans-serif;
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	height: 100vh
}

table td:nth-child(2) {
	padding-left: 4rem;
}

/* LOGIN/REGISTRATION PAGE */

@keyframes fadeInFromLeft {
	0% { transform: translateX(-10rem); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInFromRight {
	0% { transform: translateX(10rem); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

.index__about {
	flex: 1 1 55%;
	padding: 7rem 5rem;
	color: var(--main-white);
	line-height: 1.5;
}

.index__about h1 {
	font-size: 4rem;
}

.index__about h2 {
	font-size: 2.2rem;
}

.index__about h1,
.index__about h2 {
	animation: fadeInFromLeft 1s;
}

.index__about span {
	background-color: var(--main-yellow);
	color: #000;
	padding: .2rem;
	font-weight: 400;
}

.index__about-info {
	font-family: 'Lato', sans-serif;
	padding-top: 1.5rem;
	font-size: 1.6rem;
	animation: fadeInFromLeft 1s .1s;
}

.about-info__details {
	display: flex;
	justify-content: space-between;
}

.about-info__account {
	padding-right: 3rem;
}

.about-info__rules,
.about-info__password {
	padding-top: 1.5rem;
}

.index__forms {
	flex: 1 1 45%;
	padding: 7rem;
	background-color: var(--main-white);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    animation: fadeInFromRight 1s;
}

.index__form--login,
.index__form--signup {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
}

.index__form--signup {
	padding-top: 2rem
}

.index__form--login h1,
.index__form--signup h1 {
	font-size: 3rem;
}

.form__login,
.form__signup {
	padding-top: 2rem;
}

.form__login label,
.form__signup label {
	display: block;
	padding-top: 2rem;
	font-size: 1.8rem;
	color: #777;
	text-align: left;
}

input[type=email], 
input[type=password] {
	margin-top: .5rem;
	padding: 1.3rem;
	border: 1px solid var(--light-grey);
	border-radius: 3px;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
}

input[type=email]:focus, 
input[type=password]:focus {
	box-shadow: 0px 0px 3px #777;
}

.form__login button[type=submit],
.form__signup button[type=submit] {
	margin-top: 3rem;
	padding: 1rem 4rem;
	background-color: var(--main-white);
	border: 2px solid var(--main-amaranth);
	border-radius: 100px;
	cursor: pointer;
	color: var(--main-amaranth);
	font-family: 'Varela Round', sans-serif;
	font-size: 1.6rem;
	transition: all .2s;
}

.form__login button[type=submit]:hover,
.form__signup button[type=submit]:hover {
	color: var(--main-white);
	background-color: var(--main-amaranth);
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.form__toggle {
	order: 1;
	align-self: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.6rem;
	display: inline-block;
	cursor: pointer;
	padding-bottom: .5rem;
	border-bottom: 3px solid var(--main-amaranth);
	transition: all .2s;
	z-index: 9999;
}

.form__toggle:hover {
	color: var(--main-amaranth);
}

.form__toggle::before {
	content: 'Don\'t have an account? Create one!';
}

.index__form--signup {
	display: none;
}

input[type=checkbox]:checked ~ .index__form--signup {
	display: block;
}

input[type=checkbox]:checked + .form__toggle::before {
	content: 'Already have an account? Log in';
}

input[type=checkbox]:checked ~ .index__form--login {
	display: none;
}

/* ------- */

.cart-container {
	border: 1px solid black;
	flex-basis: 20%;
}

.products-container {
	border: 1px solid black;
	flex-basis: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-card {
	font-size: 2rem;
	max-width: 18rem;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 1.5rem;
	margin: 1rem;
}

.product-card__img {
	max-width: 16rem;
	height: auto;
}

input[type=number] {
	width: 75%;
}

.product-card__product-details {
	display: flex;
	justify-content: space-between;
}