.login
{
  background-image: url('../img/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;

  & > .container
  {
    display: flex;
    width: 70%;
    align-items: stretch;
    align-content: center;
    margin: auto;

    @media (max-width: 1050px)
    {
      & > .left
      {
        display: none !important;
      }

      & > .right > .warning
      {
        display: block;
      }
    }
  }

  & .left
  {
    color: #FFF;
    font-size: 2.8rem !important;
    padding: 0 4rem;
    background-color: rgba(78, 115, 233, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .right
  {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    & > .warning
    {
      display: none;
    }
  }

  & .login-form
  {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;

    & > label
    {
      font-size: 1.5rem;
      font-weight: 700;
      flex: 50%;
    }

    & > input
    {
      height: 5rem;
      padding: 1rem;
      font-size: 1.8rem;
      font-family: $font;
      width: 50%;
      border: none;
    }

    & > label[for="email"] { order: 0; }
    & > label[for="password"] { order: 0; }
    & > input#email { order: 1; }
    & > input#password { order: 2; }
    & > button { order: 4; flex: 1;}

    & > input#email
    {
      border: 1px solid #ccc;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    & > input#password
    {
      border: 1px solid #ccc;
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    & > button
    {
      margin-top: 1.5rem;
      padding: 1.5rem;
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    @media (max-width: 670px)
    {
      &
      {
        flex-wrap: nowrap;
        flex-direction: column !important;
      }

      & > *
      {
        order: 0 !important;
        width: 100% !important;
      }

      & > input
      {
        border: 1px solid #ccc !important;
        border-radius: 4px;
      }
    }
  }

  & .warning
  {
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    background-color: $danger;
  }

  & .errors
  {
    padding-left: 2rem;
    list-style: initial !important;
  }
}