.store
{
  padding: 3rem;

  & > .container
  {
    display: flex;
  }

  & .cart
  {
    min-width: 30rem;
    background-color: #fff;
    padding: 0 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    & > *
    {
      margin-top: 1.5rem;
    }

    & button[type="submit"]
    {
      width: 100%;
    }

    & .budget
    {
      display: flex;
      justify-content: space-between;

      & > span.balance-text
      {
        font-weight: 700;
        letter-spacing: 1px;
      }
    }

    & .cart-details > .body,
    & .summary > .body
    {
      background-color: #eaeaea;
      max-width: 26rem;
      max-height: 20rem;
      border-radius: 1rem;
      padding: 1rem;
      overflow: auto;
    }

    & .summary .body table
    {
      width: 100%;
      font-size: 1.6rem;

      & tr
      {
        display: flex;
        justify-content: space-between;

        &:last-child
        {
          border-top: 1px solid #ccc;
          padding-top: .5rem;
          margin-top: .5rem;
        }

        & td:first-child
        {
          font-weight: 700;
        }

        & td:last-child
        {
          text-align: right;
          letter-spacing: 1px;
        }
      }
    }

    & .cart-details > .body > .item
    {
      border-collapse:collapse;
      width: 100%;

      & tr:not(:last-child) td
      {
        border-bottom: 1px solid #ccc;
      }

      & tr td
      {
        padding: .5rem;
      }

      & tr td:last-child
      {
        width: 5.3rem;
      }

      & img
      {
        max-width: 3.5rem;
        border-radius: 50%;
      }

      & .title
      {
        font-size: 1.4rem;
        font-weight: 700;
      }

      & .quantity
      {
        font-size: 1.4rem;
        font-style: italic;
      }

      & a
      {
        font-size: 1.4rem;
        padding: .5rem !important;
      }
    }
  }

  & .products
  {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 22.5rem));
    grid-gap: 2rem;
    padding-left: 2rem;

    &__card
    {
      background-color: #fff;
      border-radius: 6px;
      padding: 2rem;
      text-align: center;

      & > img
      {
        max-width: 90%;
        display: block;
        margin: 0 auto;
      }

      & > .product-name
      {
        
      }

      & > .price
      {
        
      }

      & > .rating
      {
        padding-top: 1rem;
      }

      & > .add-product
      {
        display: flex;
        align-items: center;
        padding-top: 1rem;

        & > input
        {
          background-color: #f4f4f4;
          border: 1px solid #dbdbdb;
          padding: 1rem;
          width: 5rem;
          text-align: center;
          border-left: none;
          border-right: none;
        }

        & > button.minus
        {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        & > button.plus
        {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        & > button[type="submit"]
        {
          margin-left: auto;
        }
      }
    }
  }
}