{% extends "inc/core.html" %}

{% block content %}
<section class="confirm-payment">
  <div class="container">
    <h1>Confirm purchase details</h1>
    <table class="item">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Product</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
    {% for item in user_cart %}
      {% for product in data %}
        {% if product.product_id == item.product_id %}
        <tr>
          <td><img src="{{ product.picture }}" alt="{{ product.description }}"></td>
          <td>
            <p class="title"> {{ product.description }}</p> 
            <p class="quantity"> Quantity: {{ item.quantity }}</p>
          </td>
          <td>
            <span class="subtotal">${{ item.subtotal }}</span>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
      </tbody>
    </table>

    <form action="process-payment" method="post">
      <div class="summary">
        <p class="subtotal-title"> Subtotal: </p>
        <p class="confirm-subtotal"> {{ subtotal }} </p>
        <div class="clearfix">  </div>

        <p class="shipping-title"> Select shipping method: </p>
        <select name="shipping" id="shipping">
          <option value="7" selected> Delivery (+7% of the subtotal) </option>
          <option value="0"> I'll pick it up (no extra costs) </option>
        </select>
        <div class="clearfix">  </div>

        <hr>

        <p class="total-title"> Total: </p>
        <p class="total"> <span class="total-amount"></span>  </p>
        <div class="clearfix">  </div>
      </div>

      <div class="links">
        <a href="store" class="danger"> <i class="fas fa-arrow-left"></i> &nbsp; Go back </a>
        <button type="submit" class="primary"> Confirm &nbsp; <i class="fas fa-check"></i> </button>
        <div class="clearfix">  </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}