footer {
    width: 100%;
    background-color: lighten($bistre, 80%);
    padding: 7rem 0;

    .footer-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .footer-category {
        flex: 1;
        h5 {
            color: $bistre;
            text-transform: uppercase;
            font-family: $body;
            font-weight: 500;
            font-size: 1.4rem;
            padding-bottom: 1rem;
        }

        a {
            color: darken($grullo, 15%);
            display: table;
            padding-top: 1.5rem;
        }
    }

    .brand img {
        max-width: 18rem;
    }

    .company-info {
        .social-links {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin: 0 1.5rem;
            }

            li a {
                color: $grullo;
                font-size: 1.6rem;
                transition: color 0.3s ease;

                &:hover {
                    color: $bistre;
                }
            }
        }

        .disclaimer {
            width: 75%;
            color: darken($grullo, 15%);
            text-align: center;
            margin: 2rem auto;
            font-size: 1.4rem;
        }
    }

    hr {
        border: 1px solid darken($grullo, 15%);
    }
}
