.forget-password__form,
.reset-password__form {
    max-width: 80rem;
    margin: 3rem auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 3.5rem;
    }

    p {
        padding: 3.5rem 5rem;
        text-align: center;
        font-size: 1.4rem;
    }

    form {
        padding: 1rem 6rem;

        button.btn--primary {
            margin: 0 auto;
        }
    }
}
