// navbar
#menu {
    padding-top: 2rem;
    position: relative;
    transition: all 0.1s ease;
    background-color: $white;

    //responsive buttons
    .menu__responsive {
        display: none;
        justify-content: space-between;
        align-items: center;
    }

    //navbar links and logo
    .menu__links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            &::before {
                display: none;
            }

            a img {
                max-height: 6rem;
                transition: all 0.3s ease;
            }
        }

        .links {
            display: flex;
            justify-content: flex-end;

            a {
                font-size: 2rem;
                letter-spacing: 0.1rem;

                &:not(:first-child) {
                    margin-left: 3rem;
                }
            }
        }
    }

    // popup content
    .menu__popup {
        background: $white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110%;
        right: 50%;
        z-index: -5;
        opacity: 0;
        visibility: hidden;
        transform: translate(50%, 0);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);

        &.active {
            z-index: 999;
            opacity: 1;
            visibility: visible;
        }

        button#close-popup {
            font-size: 3.2rem;
            position: absolute;
            top: 1rem;
            right: 2rem;
            color: #000;
        }

        .popup__content {
            padding: 4rem 6rem 9rem 6rem;
            max-height: 80vh;
            overflow: auto;

            &:not(.active) {
                display: none;
            }

            // login form structure
            .popup_login {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;

                & > * {
                    width: 50%;
                    padding: 0 5rem;
                }

                .greeting {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        max-width: 70%;
                    }
                }
            }

            // sign up form structure
            .popup_signup {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3,
                p {
                    align-self: center;
                }

                #register_form {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    max-width: 85%;

                    .input-group {
                        flex: 50%;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        padding: 0 2rem;
                    }

                    .form-buttons {
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 2rem;
                    }
                }
            }

            // for both
            .form-buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                & > * {
                    width: 40%;
                }

                .btn--primary {
                    padding: 1rem 2rem;
                    border: 1px solid #000;
                    border-top: none;
                }

                .btn--blank {
                    padding: 1rem 2rem;
                    color: #000;
                    text-align: center;
                }
            }
        }
    }

    // sticky
    &.sticky {
        background-color: $white;
        padding: 1rem 0;
        position: sticky;
        top: 0;
        z-index: 997;
        border-bottom: 2px solid $eggshell;

        .menu__links .brand a img {
            max-height: 4rem;
        }
    }
}
