// navbar
#menu {
    padding-top: 2rem;
    position: relative;
    transition: all 0.1s ease;

    //responsive buttons
    .menu__responsive {
        display: none;
        justify-content: space-between;
    }

    //navbar links and logo
    .menu__container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        & > * {
            display: flex;
            align-items: center;
            transition: all 0.3s ease;
        }

        .menu__brand {
            &::before {
                display: none;
            }

            .menu__logo {
                max-height: 6rem;
                transition: all 0.3s ease;
            }
        }

        .menu__links {
            justify-content: flex-end;
        }

        .menu__links a {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase !important;

            &:not(:first-child) {
                margin-left: 1.5rem;
            }

            &:first-child::before {
                display: none;
            }
        }
    }

    // sticky
    &.sticky {
        background-color: $white;
        padding: 1rem 0;
        position: sticky;
        top: 0;
        z-index: 998;
        -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.11);

        .menu__brand {
            animation-name: scaleImg;
            animation-duration: 0.3s;
        }

        .menu__container .menu__brand .menu__logo {
            max-height: 4rem;
        }
    }
}
