.special-offers {
    display: flex;
    width: 100%;

    &__block {
        &--left {
            background-color: #f1f1f1;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 7rem;
            margin-right: 3rem;

            h2 {
                font-size: 3.8rem;
                font-style: italic;
            }

            p {
                font-size: 1.8rem;
            }

            span.discount {
                position: absolute;
                z-index: -1;
                font-size: 30rem;
                color: #000;
                opacity: 0.15;
                font-family: "Arial Narrow", serif;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
