.delete-account-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4rem;

    p {
        font-size: 16px;
        padding: 0 1rem;
        text-align: left;
        margin-top: 4rem;
    }

    ul {
        text-align: left;
        font-size: 16px;
        margin-top: 2rem;

        li {
            margin-left: 30px;
            margin-top: 0.5rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
