.balance {
  padding-top: 2rem;
  font-size: 2.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;

  span {
    color: $success;
    font-weight: 700;
  }
}

.cart-container {
  margin-top: 2rem;
  max-height: 24rem;
  overflow: auto;
  padding: 0 .5rem;

  @media screen and (max-width: 400px){
    max-height: 18rem;
  }

  .cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    img {
      max-width: 5rem;
      border: 1px solid #000;
      border-radius: 50%;
    }

    .item_details {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 500px){
        font-size: 1.4rem;
      }

      #subtotal {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 1rem;
      }
    }

    button#delete {
      background-color: $danger;
      border: none;
      padding: .5rem;
      color: #fff;
      font-size: 1.2rem;
      display: flex;
      line-height: 1;
      cursor: pointer;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: darken($color: $danger, $amount: 10%);
      }

      span {
        padding-left: 2px;
      }
    }
  }
}

.summary {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 2px solid #ededed;

  hr {
    margin-top: 1rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    & > * {
      font-size: 1.6rem;
    }

    p:last-child {
      font-size: 2.2rem;
    }

    p.total-title {
      font-weight: 700;
      font-size: 2.2rem;
      text-transform: uppercase;
    }

    span {
      font-size: 1.6rem;
      font-weight: 700;

      &.total-value {
        font-size: 2.2rem;
      }
    }
  }

  select {
    border: 1px solid #ccc;
  }
}

.summary + form {
  padding: 1rem 0 !important;
}

button#checkout {
  padding: 1.2rem;
  background-color: #000;
  color: #fff;
  font-size: 2.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: lighten(#000, 20%);
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #888;
  padding-top: 10rem;

  .surprised-face {
    font-size: 6rem;
  }

  .text {
    font-size: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}