.balance {
  padding-top: 2rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  span:last-child {
    font-weight: 700;
  }
}

.cart-container {
  margin-top: 2rem;
  max-height: 24rem;
  overflow: auto;
  padding: 0 .5rem;
  border-top: 2px solid #ededed;

  @media screen and (max-width: 400px){
    max-height: 18rem;
  }

  .cart-row {
    padding: 2rem 0;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "left center right";

    &:not(:last-child) {
      border-bottom: 1px solid #ededed;
    }

    .left {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      max-width: 5rem;
      border-radius: 4px;
      grid-area: left;
    }

    .center,
    .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .center {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: center;

      .product-name {
        font-size: 1.6rem;
        font-weight: 700;
      }

      .product-qty {
        font-size: 1.6rem;
        color: $dark;
      }
    }

    .right {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: right;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      span#subtotal {
        font-size: 1.8rem;
        color: $dark;
      }

      button#delete {
        background-color: $danger;
        border: none;
        padding: 0 .7rem;
        color: #fff;
        font-size: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: background-color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
        border-radius: 50%;

        &:hover {
          background-color: darken($color: $danger, $amount: 10%);
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }
}

.summary {
  padding: 1rem 0;
  border-top: 2px solid #ededed;

  hr {
    margin-top: 1rem;
    height: 2px;
    border: none;
    background-color: #ededed;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;

    p,
    span {
      font-size: 1.8rem;
    }

    span {
      font-weight: 700;
    }

    .subtotal-value::before,
    .total-value::before {
      content: '\0024';
      font-weight: 700;
    }
  }

  select {
    font-size: 1.6rem;
    border: 1px solid #ccc;
  }
}

.summary + form {
  padding: 1rem 0 !important;
}

button#checkout {
  padding: 1.2rem;
  background-color: $primary;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: darken($primary, 20%);
  }
}

.empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #888;
  padding-top: 10rem;

  .surprised-face {
    font-size: 6rem;
  }

  .text {
    font-size: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}