.cookie-banner {
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
	padding: .5rem;
	font-size: 1.4rem;
	color: #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;

	a {
		text-decoration: underline;
		color: #ccc;
	}

	&-btn {
		position: absolute;
		top: 2px;
		right: 5px;
		padding: 0 .7rem;
		font-size: 2.2rem;
		color: #ededed;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	.text-button {
		color: $warning;
	}
}