.delete-account {
  font-size: 1.4rem;

  .info {
    font-weight: 700;
    text-align: center;
  }

  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  button {
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    cursor: pointer;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;

    &.btn-danger {
      background-color: $danger;
      border: 1px solid darken($danger, 15%);

      &:hover {
        background-color: darken($danger, 15%);
      }
    }

    &.btn-success {
      background-color: darken($success, 6%);
      border: 1px solid darken($success, 15%);

      &:hover {
        background-color: darken($success, 15%);
      }
    }
  }
}