.hero {
  padding-top: 7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.4)), to(rgba(0,0,0,.8))), url('../img/background.jpg');
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8)), url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  .container {
    padding: 8rem 5rem;
    color: #fff;
    max-width: 65rem;
    text-align: center;

    h1 {
      font-size: 5rem;
      padding-top: 2.5rem;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f0b183;
        -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      }

      &:hover::before {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
      }
    }

    p.subtitle {
      font-size: 3rem;
      color: #aeaeae;
      padding: 2rem 0;
    }

    .links {
      padding-top: 8rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;

      @media screen and (max-width: 440px) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }

    @media screen and (max-width: 700px) {
      h1 {
        font-size: 4rem;
      }

      p.subtitle {
        font-size: 2rem;
      }
    }
  }

  // LINKS
  a#toStore,
  a#toAbout {
    padding: 1.5rem 3rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    .icon {
      font-size: 1.6rem;
      padding-left: 1rem;
    }

    @media screen and (max-width: 700px) {
      padding: 1rem 2rem;
      font-size: 1.4rem
    }
  }

  #toStore {
    color: #000;
    background-color: #fff;

    &:hover {
      background-color: #ededed;
    }
  }

  #toAbout {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

    &:hover {
      background-color: #ededed;
      color: #000;
      border: 1px solid transparent;
    }

    @media screen and (max-width: 440px) {
      display: none !important;
    }
  }
}