.left-sidebar {
	left: 0;
	transform: scale(0, 1);
	transform-origin: left;
	@include lateralsidebar-base;

	// TOGGLE MENU TITLE
	.menu-title {
		@include menu-title;
	}

	// TOGGLE MENU LINKS
	.main-menu {
		list-style: none;
		padding-top: 3rem;

		li {
			border-bottom: 1.5px solid #ededed;

			&:hover {
				background-color: #ededed;
			}
		}

		li a {
			padding: 1rem 2rem;
			display: flex;
			color: #000;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 2.4rem;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}