.right-sidebar {
  form {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;

    .form-group:not(.checkbox) {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        padding-top: 2rem;
      }
    }

    .form-group.checkbox {
      text-align: left;
      padding-top: 2rem;

      & label {
        font-size: 1.6rem;
        color: $dark;
        padding-left: .5rem;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 1px;
      }
    }

    label:not([for="remember_me"]) {
      text-align: left;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 2.4rem;
      color: $primary;
    }

    input {
      padding: 1rem;
      border: 1px solid #ddd;

      &:focus {
        border: 1px solid #000;
      }
    }

    .submit-form-btn {
      cursor: pointer;
      margin-top: 2.5rem;
      border: none;
      background-color: $primary;
      padding: 1rem 0;
      color: #fff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 2.2rem;
      text-transform: uppercase;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: lighten($primary, 20%);
      }
    }
  }
}