header {
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& > *:not(nav) {
		height: 100%;
	}

	// LOGO
	a.brand img {
		max-height: 5rem;
		display: block;
		margin: .4rem auto;

		@media screen and (max-width: 600px) {
			max-height: 4rem;
			margin: 1.2rem auto;
		}
	}

	// BUTTONS
	& button {
		color: #000;
		background-color: #fff;
		padding: 0 2rem;
		border: none;
		cursor: pointer;
		font-size: 1.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		transition: background-color .2s ease-in-out;

		ion-icon {
			font-weight: 700;
			font-size: 1.8rem;
		}

		&.menu-toggle span {
			padding-left: .7rem;
		}

		&.cart-toggle span {
			padding-right: .7rem;
		}

		&:hover {
			background-color: #ededed;
		}

		@media screen and (max-width: 700px) {
			span {
				display: none;
			}

			ion-icon {
				font-size: 2.4rem;
			}
		}
	}

	// TOGGLE MENU
	& .menu {
		background-color: #fff;
		padding: 2rem;
		width: 40rem;
		position: absolute;
		top: 100%;
		left: 0;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform 250ms;

		&.active {
			transform: scale(1, 1);
			z-index: 9999;
		}

		@media screen and (max-width:700px) {
			width: 100%;
		}
	}

	// TOGGLE MENU LINKS
}