.menu {
    background: $darkblue;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .container-responsive-menu-buttons {
        display: none;
        justify-content: space-between;
        align-items: center;

        button {
            font-size: 2rem;
            color: $bone;
            transition: ease all .3s;

            &:hover {
                background: lighten($darkblue, 15%);
            }
        }

        .btn-close {
            display: none;

            &.active {
                display: inline-block;
            }
        }
    }

    .container-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Muli', sans-serif;

        a {
            color: #fff;
            font-size: 1.6rem;
            transition: ease all .3s;
            position: relative;
            padding: .5rem .8rem;

            // TEMPORAL
            &:first-child {
                color: $orangered;
                margin-right: auto;
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }

            & > span.arrow {
                position: absolute;
                display: none;
                bottom: -1.5rem;
                right: 50%;
                left: 50%;
                background: none;
                border-top: 1rem solid transparent;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-bottom: 1rem solid #fff;

                &.active {
                    display: block !important;
                }
            }
        }
    }

    .container-menu-content-box .menu-content-box{
        width: 100%;
        position: relative;

        .content {
            max-width: 75%;
            background: #fff;
            border-radius: 1.5rem;
            overflow: hidden;
            box-shadow: 0 1.5rem 1.5rem rgba(0,0,0,.35);
            transform: scale(0);
            transform-origin: top right;
            transition: ease all .3s;
            position: absolute;
            z-index: 1000;
            top: 1.5rem;
            right: 0;

            &.active {
                transform: scale(1);
            }
        }
    }
}