header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 -1rem 2rem $dark;

	& > *:not(nav) {
		height: 100%;
	}

	// OVERLAY
	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
		z-index: 100;
		display: none;

		&.active {
			display: block;
		}
	}

	// LOGO
	a.brand img {
		max-height: 5rem;
		display: block;
		margin: .4rem auto;

		@media screen and (max-width: 600px) {
			max-height: 4rem;
			margin: 1.2rem auto;
		}
	}

	// HEADER BAR BUTTONS
	& > button {
		color: #000;
		background-color: #fff;
		padding: 0 2rem;
		border: none;
		cursor: pointer;
		font-size: 1.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		transition: background-color .2s ease-in-out;
		position: relative;

		ion-icon {
			font-weight: 700;
			font-size: 1.8rem;
		}

		&.menu-toggle span {
			padding-left: .7rem;
		}

		&.right-sidebar-toggle span {
			padding-right: .7rem;
		}

		&:hover {
			background-color: #ededed;
		}

		@media screen and (max-width: 700px) {
			span {
				display: none;
			}

			ion-icon {
				font-size: 2.4rem;
			}
		}
	}
}