.product-rating form {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  display: inline-block;

  &:hover label {
    color: gold;
  }

  label {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    color: #ccc;

    &:hover ~ label {
      color: #ccc;
    }

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.6rem;
    }
  }

  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}