@import url('https://fonts.googleapis.com/css?family=Lato|Muli&display=swap');

$darker: #354147;
$lighter: #576574;
$bluebell: #341f97;
$orange: #ff9f43; //unused
$yellow: #ffa930;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #EAEDED;
    margin-top: 7rem;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1100px;
}

/*****************
    BUTTONS
*****************/
button {
    background: none;
    padding: .5rem .8rem;
    border-radius: .4rem;
    border: 1px solid transparent;
    cursor: pointer;
}

@mixin btn-base {
    color: #fff !important;
    padding: .5rem .8rem;
    border-radius: .4rem;
    transition: ease all .3s;
}

.btn-gray {
    background: $lighter;
    @include btn-base;

    &:hover {
        background: lighten($lighter, 20%);
    }
}

.btn-yellow {
    background: $yellow;
    @include btn-base;

    &:hover {
        background: lighten($yellow, 10%);
    }
}