{% extends "core/header.html" %}

{% block content %}
<div class="hero">
	<div class="container">
		<h1>A shopping cart app</h1>
		<p class="subtitle">
			Built with vanilla PHP and a little of modern JavaScript
		</p>

		<div class="links">
			<a href="#" id="toStore">
				Go to the store
				<img src="icons/arrow-thick-down.svg" class="icon" alt="Arrow down icon">
			</a>
			<a href="#" id="toAbout">
				About this project
				<img src="icons/information-outline.svg" class="icon" alt="info circle icon">
			</a>
		</div>
	</div>
</div>

<main id="store">
	{% include 'items.html' %}
</main>

<footer>
	Made by José Abraham Castillo &copy; 2019.
</footer>

{% endblock %}