{% extends "core/header.html" %}

{% block content %}

<div class="hero">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto commodi soluta voluptas illo fugit labore, magni harum corrupti ab id quis dolorem cupiditate, repellendus laudantium reprehenderit fugiat quasi possimus incidunt nobis error itaque, atque modi libero ea. Doloribus exercitationem unde sunt ab amet laboriosam hic officia quam asperiores, recusandae ducimus sequi. Ipsa, a asperiores? Iusto eligendi hic doloremque nesciunt fugiat.
	</p>
</div>
<main></main>
<footer></footer>

{% endblock %}