{% extends "core/header.html" %}

{% block content %}
<div class="hero">
	<div class="container">
		<h1>A shopping cart app</h1>
		<p class="subtitle">
			Built with vanilla PHP and a little of modern JavaScript
		</p>

		<div class="links">
			<a href="#" id="toStore">
				Go to the store
				<ion-icon name="arrow-round-down"></ion-icon>
			</a>
			<a href="#" id="toAbout">
				About this project
				<ion-icon name="information-circle"></ion-icon>
			</a>
		</div>
	</div>
</div>

<main>
	{% include 'items.html' %}
</main>
<footer></footer>

{% endblock %}