{% extends "inc/core.html" %}

{% block content %}
<section class="profile">
  <div class="container">
    <div class="profile-settings">
      <h2> Profile Settings </h2>
      <p>
        Welcome to your profile page, here you can change your basic information like your name, email and password. You can also get the receipts of your previous purchases as a .pdf document.
      </p>

      {% if flash_message is not empty %}
      <span class="flash_message flash_message--{{ flash_message.type }}">
        {% if flash_message.message is not iterable %}
          {{ flash_message.message }}
        {% else %}
          There were some errors with your registration:
          <ul>
          {% for error in flash_message.message %}
            <li> {{ error }} </li>
          {% endfor %}        
          </ul>
        {% endif %}
      </span>
      {% endif %}

      <form action="update-info" method="post">
        <label for="name"> Your name: </label>
        <input type="text" value="{{ current_user.name }}" name="name" id="name" autofocus>

        <label for="email"> Your email: </label>
        <input type="text" value="{{ current_user.email }}" name="email" id="email">

        <label for="password"> Change password to: </label>
        <input type="password" name="password" id="password">

        <label for="password_confirm"> Confirm the new password: </label>
        <input type="password" name="password_confirm" id="password_confirm">

        <button type="submit" class="primary">Update my information</button>
      </form>
    </div>

    <div class="purchase-history">
      <h2>Purchase History</h2>
      <div class="orders">
        <table>
          <thead>
            <th>Code</th>
            <th>Date</th>
            <th>Total</th>
            <th>Print</th>
          </thead>
          <tbody>
        {% for order in data %}
            <tr>
              <td> {{ order.order_id }} </td>
              <td> {{ order.created_at }} </td>
              <td> ${{ order.total }} </td>
              <td> 
                <form action="receipt/{{ order.order_id }}" method="post" target="_blank">
                  <button type="submit" class="secondary"> <i class="fas fa-file-download"></i> </button>
                </form>
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="danger-zone">
      <h2>Delete your account</h2>
      <p>
        <u>This will erase all your data from our database</u>. You'll also lose all records about your purchases and sessions. This action can't be undone and the data cannot be recovered.
      </p>
      <form action="delete-account" method="post">
        <button type="submit" class="danger"> Delete account </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}