{% extends "inc/header.html" %}

{% block content %}
<section class="store">
  <div class="container">
    <div class="cart">The cart goes here</div>
    <div class="products">
      {% if data is not empty %}
      {% for product in data %}
      <div class="products__card"> <!-- CARD -->
        <img src="{{ product.picture }}" alt="">
        <h3 class="product-name"> {{ product.description }} </h3>
        <p class="price">${{ product.price }}</p>
        <div class="rating">♥♥♥♥♥</div>
        
        <form method="post" class="add-product">
          <input type="number" name="quantity" id="quantity">
          <button type="submit">Add to cart</button>
        </form>
      </div>
    {% endfor %}
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}