{% extends "inc/core.html" %}

{% block content %}
<section class="store">
  <div class="container">

    <div class="cart">
      {% include "inc/cart.html" %}
    </div>

    <div class="products">
      {% if data is not empty %}
      {% for product in data %}
      <div class="products__card">
        <img src="{{ product.picture }}" alt="{{ product.description }}">
        <h3 class="product-name"> {{ product.description }} </h3>
        <p class="price"> ${{ product.price }} </p>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        
        <form action="add-item/{{ product.product_id }}" method="post" class="add-product">
          <button class="bordered"> <i class="fas fa-minus"></i> </button>
          <input type="text" name="quantity" id="quantity" value="1" readonly>
          <button class="bordered"> <i class="fas fa-plus"></i> </button>
          <button type="submit" class="success"> <i class="fas fa-cart-plus"></i> Add</button>
        </form>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}