@mixin headeroverlay($opacity) {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom right, $eggshell, $peach);
        opacity: $opacity;
    }
}

@mixin btn-hover-effect($width, $time, $opacity) {
    overflow: hidden;
    position: relative;

    &::after {
        background: $white;
        content: "";
        height: 155px;
        left: -150px;
        opacity: $opacity;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all $time cubic-bezier(0.19, 1, 0.22, 1);
        width: $width;
        z-index: 1;
    }

    &:hover::after {
        left: 120%;
        transition: all $time cubic-bezier(0.19, 1, 0.22, 1);
    }
}

@mixin link-hover-effect($bg-color) {
    &::before {
        content: "";
        height: 1px;
        width: 100%;
        background: $bg-color;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: all 0.3s ease;
        transform: scaleX(0);
        transform-origin: left;
    }

    &:hover {
        color: $grullo;

        &::before {
            background: $grullo;
            transform: scaleX(1);
            transform-origin: right;
        }
    }
}
