$heading: "Playfair Display", serif;
$body: "Work Sans", sans-serif;

// Colors
$bistre: #312c26;
$grullo: #b2a08a;
$eggshell: #f2e9db;
$white: #ffffff;
$peach: #fed1bd;
$tulip: #fc8b93;
$green: #00c853;
$yellow: #ffd640;
