body
{
	display: grid;
	grid-template-rows: 1fr 60vh 200rem 10rem;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"hero"
	"main"
	"footer";
}

header
{
	grid-area: header;
	height: 6rem;
}

.hero
{
	background-color: lightblue;
	grid-area: hero;
}

main
{
	background-color: cadetblue;
	grid-area: main;
}

footer
{
	background-color: blue;
	grid-area: footer;
}