body
{
	position: relative;
	display: grid;
	grid-template-rows: 1fr auto auto auto;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"hero"
	"main"
	"footer";
}

header
{
	grid-area: header;
	height: 6rem;
}

.hero
{
	grid-area: hero;
}

main
{
	background-color: #eee;
	grid-area: main;
	display: grid;
	justify-content: center;
	padding: 5rem 2rem 10rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
	grid-template-rows: repeat(auto-fit, 30rem);
	grid-column-gap: 3rem;

	@media screen and (max-width: 480px) {
		grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
	}

	@media screen and (max-width: 400px) {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
		grid-template-rows: repeat(auto-fit, 22rem);
	}
}