body
{
	position: relative;
	display: grid;
	grid-template-rows: 1fr auto auto 10rem;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"hero"
	"main"
	"footer";
}

header
{
	grid-area: header;
	height: 6rem;
}

.hero
{
	grid-area: hero;
}

main
{
	background-color: #eee;
	grid-area: main;
	display: grid;
	justify-content: center;
	padding: 5rem 2rem 10rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
	grid-template-rows: repeat(auto-fit, 35rem);
	grid-gap: 3rem;
}

footer
{
	background-color: dodgerblue;
	grid-area: footer;
}