// 1200
@media screen and (max-width: 1200px) {
    html {
        font-size: 59%;
    }
    .container {
        max-width: 1100px;
    }
    .item-details__picture {
        flex: 51%;
    }
    footer {
        padding: 5rem 10rem;
    }
}

// 1100
@media screen and (max-width: 1100px) {
    html {
        font-size: 55%;
    }
    .container {
        max-width: 1000px;
    }
    .product__card {
        width: 230px;
    }
    .glider-contain.multiple-items .glider {
        width: calc(230px * 4);
    }
    .glider-contain.single-item .glider {
        width: 230px;
    }
}

// 1000
@media screen and (max-width: 1000px) {
    .container {
        max-width: 900px;
    }
    .product__card {
        width: 200px;
    }
    .glider-contain.multiple-items .glider {
        width: calc(200px * 4);
    }
    .glider-contain.single-item .glider {
        width: 200px;
    }
}
