// Utility classes

// DIVs
.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

// Images
.cover {
    background-size: cover;
}

// Whitespacing
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}

// No Scroll for body
.noscroll {
    overflow: hidden;
}

// Inline elements
.inline-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
