@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,700');

// Variables
$font: 'Hind Madurai', sans-serif;
$font-color: #4a4a4a;
$primary: #4E73DF;
$secondary: #858796;
$success: #1CC88A;
$info: #36B9CC;
$warning: #F6C23E;
$danger: #E74A3B;

.primary { background-color: $primary; }
.primary:hover { background-color: darken($primary, 10%); }

.secondary { background-color: $secondary; }
.secondary:hover { background-color: darken($secondary, 10%); }

.success { background-color: $success; }
.success:hover { background-color: darken($success, 10%); }

.info { background-color: $info; }
.info:hover { background-color: darken($info, 10%); }

.warning { background-color: $warning; }
.warning:hover { background-color: darken($warning, 10%); }

.danger { background-color: $danger; }
.danger:hover { background-color: darken($danger, 10%); }

.light { background-color: #EEE; color: #000 !important; }
.light:hover { background-color: darken(#FFF, 10%); }

.bordered { background-color: #FFF; color: #000 !important; border: 1px solid #DBDBDB; }
.bordered:hover { border: 1px solid #B5B5B5; }

.small { font-size: 1rem; }

html
{
  font-size: 62.5%;
}

*, *::after, *::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: $font;
  font-size: 1.8rem;
  color: $font-color;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: #F4F4F4;
}

html, body
{
  width: 100%;
  height: 100%;
}

h1
{
  font-weight: 700;
}

h4
{
  color: $primary;
  text-transform: uppercase;
}

// Elements
ul
{
  list-style: none;
}

// Buttons & Links
button
{
  border: none;
  padding: 1rem;
  cursor: pointer;
  color: #FFF;
  border-radius: 3px;
}

a, a:visited
{
  color: #4a4a4a;
  text-decoration: none;
  padding: 1rem;
  border-radius: 3px;
  display: inline-flex;

  &:hover
  {
    color: #b5b5b5;
  }

  &.primary, &.secondary, &.success,
  &.info, &.warning, &.danger
  {
    color: #FFF !important;
  }

  &.link-text
  {
    text-transform: none;
    padding: 0;
    color: $primary;
  }
}

// Flash notification
.flash_message
{
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid currentColor;
  border-radius: 4px;
  align-self: stretch;

  &--success
  {
    color: darken($success, 20%);
    background-color: lighten($success, 50%);
  }

  &--warning
  {
    color: darken($warning, 20%);
    background-color: lighten($warning, 30%);
  }

  &--danger
  {
    color: darken($danger, 20%);
    background-color: lighten($danger, 30%);
  }
}