<div class="menu-title">
	<span> Your cart: </span>
	<button id="right-sidebar-toggle" class="right-sidebar-toggle">
		<i class="icon ion-ios-close"></i>
	</button>
</div>

<div class="balance">
 <span>Account balance:</span>
 <span>${{ balance }}</span>
</div>

{% if user_cart is not empty %}
<div class="cart-container">
	{% set cart_items = data.0 %}
	{% set products = data.1 %}

	{% for item in cart_items %}
	<div class="cart-row">
		{% for product in products %}
		{% if item.product_id == product.product_id %}
		<img src="{{ product.picture }}" alt="{{ product.description }} product image" class="left">

		<div class="center">
			<p class="product-name"> {{ product.description }} </p>
			<p class="product-qty"> Quantity:	 {{ item.quantity }} </p>			
		</div>

		<div class="right">
			<button id="delete" data-action="remove-item/{{ product.product_id }}">
				<i class="icon ion-ios-close"></i>
			</button>

			<span id="subtotal"> ${{ item.subtotal }} </span>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>

<div class="summary">
	<div class="row">
		<p>Subtotal: </p>
		<span class="subtotal-value">{{ subtotal }}</span>
	</div>

	<div class="row">
		<p>Shipping method: </p>
		<div>
		<select name="shipping" id="shipping">
			<option value="7" selected> Delivery (+7% fee) </option>
			<option value="0"> I'll pick it up (free) </option>
		</select>
		</div>
	</div>

	<hr>

	<div class="row">
		<p class="total-title">Total amount:</p>
		<span class="total-value"></span>
	</div>
</div>

<form action="process-payment" method="post">
	<input type="hidden" name="shipping" id="shippingInput">
	<button type="submit" id="checkout"> Check out</button>
</form>
{% else %}
<div class="empty-cart">
	<span class="surprised-face">
		(๑⚈ ․̥ ⚈๑)
	</span>
	<span class="text">
		Your cart is empty
	</span>
</div>
{% endif %}