<form action="delete-account" method="post" class="delete-account">
  <div class="info">
    This will erase all your information from our database. This action can't be undone and the data will be lost permanently. <br><br>
  </div>

  <div class="will-be-kept">
    The following information will be kept stored:
    <ul>
      <li> The purchases you made.</li>
    </ul>
  </div>

  <div class="will-be-lost">
    The following information will be deleted permanently:
    <ul>
      <li>Your user account.</li>
      <li>Your session history.</li>
      <li>Items you had in your cart.</li>
      <li>Reviews you've written</li>
    </ul>
  </div>

  <div class="buttons">
    <button class="btn-danger load-template profile" id="left-sidebar">Cancel</button>
    <button type="submit" class="btn-success">Yes, I understand</button>
  </div>
</form>