<div class="login-form">
  <img src="img/login-side-pic.jpg" alt="Cart pic for login form">

  <div class="form-content">
    <h4>Welcome back!</h4>
    <h2>Log in to your account</h2>
    <form action="login" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Enter your password</label>
        <input type="password" name="password" id="password" required>
      </div>

      <div class="oneline-items">
        <div class="form-group checkbox">
          <input type="checkbox" name="remember_me" id="remember_me">
          <label for="remember_me">Stay logged in</label>
        </div>

        <a href="#">Forgot your password?</a>
      </div>

      <button type="submit" class="btn-orangered">Log In</button>
    </form>
  </div>
</div>