<div class="menu-title">
	<span> Menu </span>
	<button id="left-sidebar-toggle" class="left-sidebar-toggle">
		<i class="icon ion-ios-close"></i>
	</button>
</div>

<nav>
	<ul class="main-menu">
		<li><a href="/shoppingcart"> Home </a></li>
		{% if current_user is not empty %}
		<li>
			<button class="load-template profile" id="left-sidebar"> Profile </button>
		</li>
		{% endif %}
		<li><a href="http://github.com/crjoseabraham/shoppingcart" target="_blank"> View Source Code </a></li>
	</ul>
</nav>