{% set product = data.product %}
{% set reviews = data.reviews %}

<div class="modal-title">
	<h2>Add item</h2>
	<button class="modal-toggle" id="modal-toggle">
		<i class="icon ion-ios-close"></i>
	</button>
</div>

<div class="modal-body">
	<div class="item-container">
		<div class="product-details">
			<img src="{{ product.picture }}" alt="{{ product.description }} picture">
			<div class="details-container">
				<p class="product-name"> {{ product.description }} </p>

				<p class="product-price"> ${{ product.price }} </p>

				<div class="product-rating">
					<p>Rating: <span class="rating-value">{{ product.rating }}</span></p>

					<form action="rating/{{ product.product_id }}" method="post">
						<label for="star-1" class="star-label">
							<i class="icon ion-md-star"></i>
						</label>
						<input type="radio" name="stars" id="star-1" value="1">

						<label for="star-2" class="star-label">
							<i class="icon ion-md-star"></i>
						</label>
						<input type="radio" name="stars" id="star-2" value="2">

						<label for="star-3" class="star-label">
							<i class="icon ion-md-star"></i>
						</label>
						<input type="radio" name="stars" id="star-3" value="3">

						<label for="star-4" class="star-label">
							<i class="icon ion-md-star"></i>
						</label>
						<input type="radio" name="stars" id="star-4" value="4">

						<label for="star-5" class="star-label">
							<i class="icon ion-md-star"></i>
						</label>
						<input type="radio" name="stars" id="star-5" value="5">
					</form>

					<button class="text-button show-reviews">
						View product reviews
					</button>
				</div>
			</div>
		</div>

		<form action="add-item/{{ product.product_id }}" method="post">
			<span>Quantity: </span>

			<div class="inputs">
				<button type="button" class="quantity-btn subtract"> - </button>
				<input type="text" value="1" name="quantity" id="quantity" readonly>
				<button type="button" class="quantity-btn add"> + </button>
			</div>

			<button type="submit"> Add to cart</button>
		</form>
	</div>

	<div class="reviews-container">
		{% if current_user is not empty %}
		<form action="review/{{ product.product_id }}" method="post">
			<textarea name="content" id="newReview" placeholder="Say what you think about this item! If you want to edit your submitted review, write a new one here and it'll be updated"></textarea>
			<button type="submit">Submit review</button>
		</form>
		{% endif %}

		{% if reviews is not empty %}
		<ul>
			{% for review in reviews %}
			<li>
					{{ review.name }}:
					<span class="review-content"> 
					{{review.review_content }} 
					</span>

					<form action="review/{{ product.product_id }}/delete" method="post">
						{% if review.review_user_id == current_user.id %}
						<button type="submit" class="text-button danger">Delete</button>
						{% endif %}
					</form>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		This item has no reviews yet. Do you want to be the first?
		{% endif %}
	</div>
</div>