<div class="menu-title">
  <div class="title-links">
    <button class="text-button-title load-template login" id="right-sidebar">Sign Up</button>
    /
    <button class="text-button-title load-template register" id="right-sidebar">Register</button>
  </div>

  <button id="right-sidebar-toggle" class="right-sidebar-toggle">
    <img src="icons/close.svg" class="icon" alt="Close sidebar icon">
  </button>
</div>

<form action="recover-password" method="post">
  <p>
    Enter your e-mail address to start the process of recovering your password.
  </p>
  <div class="form-group">
    <label for="inputEmail"> Email </label>
    <input type="email" name="email" id="inputEmail" required>
  </div>

  <button type="submit" class="submit-form-btn"> Recover password </button>
</form>