<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../public/img/favicon.png">
  <link rel="stylesheet" href="../css/recover_password.css">
  <title>Reset Password</title>
</head>
<body>
  <nav>
    <img src="../public/img/logo.png" alt="minimarket Logo">
  </nav>

  <section>
    <div class="container">
      <h1>Reset your password</h1>

      <form action="submit-pass" method="post" class="update-info">
        <div class="input-group">
          <label for="password">New password: </label>
          <input type="password" name="password" id="password" required>
        </div>

        <div class="input-group">
          <label for="password_confirm">Confirm password: </label>
          <input type="password" name="password_confirm" id="password_confirm" required>
        </div>

        <input type="hidden" name="token" value="{{ data.token }}">

        <div class="form-buttons">
          <button type="submit" class="btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </section>

</body>
</html>