<div class="registration-form">
  <img src="img/registration.jpg" alt="Registration form picture">
  <div class="form-content">
    <h2>Create an account to start shopping!</h2>
    <form action="register" method="post">
      <div class="form-group inline">
        <label for="name">What's your name?</label>
        <input type="text" name="name" id="name" required placeholder="e.g: John Doe">
      </div>
      <div class="form-group inline">
        <label for="email">Enter your email</label>
        <input type="email" name="email" id="email" required placeholder="e.g: johndoe@gmail.com">
      </div>
      <div class="form-group">
        <label for="password">Create a password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="password_confirm">Confirm your password</label>
        <input type="password" name="password_confirm" id="password_confirm" required>
      </div>

      <button type="submit" class="btn-orangered">Create account</button>
    </form>
  </div>
</div>