<div class="menu-title">
  <div class="title-links">
    <button class="text-button-title load-template login" id="right-sidebar">Sign Up</button>
    /
    <button class="text-button-title disabled" id="right-sidebar">Register</button>
  </div>

  <button id="right-sidebar-toggle" class="right-sidebar-toggle">
    <i class="icon ion-ios-close"></i>
  </button>
</div>

<form action="register" method="post">
  <div class="form-group">
    <label for="inputName"> Name </label>
    <input type="text" name="name" id="inputName" required>
  </div>

  <div class="form-group">
    <label for="inputEmail"> Email </label>
    <input type="email" name="email" id="inputEmail" required>
  </div>

  <div class="form-group">
    <label for="inputPassword"> Password </label>
    <input type="password" name="password" id="inputPassword" required>
  </div>

  <div class="form-group">
    <label for="inputPasswordConfirm"> Confirm Password </label>
    <input type="password" name="password_confirm" id="inputPasswordConfirm" required>
  </div>

  <button type="submit" class="submit-form-btn"> Register </button>
</form>