<form action="update-info/basic" method="post" class="update-info">
  <div class="input-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{ current_user.name }}">
  </div>

  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{ current_user.email }}">
  </div>

  <div class="form-buttons">
    <button class="btn-danger load-template profile" id="left-sidebar">Cancel</button>
    <button type="submit" class="btn-success">Save changes</button>
  </div>
</form>