<form action="update-info/password" method="post" class="update-info">
  <div class="input-group">
    <label for="password">New password</label>
    <input type="password" name="password" id="password">
  </div>

  <div class="input-group">
    <label for="password_confirm">Confirm password</label>
    <input type="password" name="password_confirm" id="password_confirm">
  </div>

  <div class="form-buttons">
    <button class="btn-danger load-template profile" id="left-sidebar">Cancel</button>
    <button type="submit" class="btn-success">Save changes</button>
  </div>
</form>