{% if flash_message is not empty %}
<span class="flash_message flash_message--{{flash_message.type}}">
	{% if flash_message.type is same as("danger") %}
		<ion-icon name="alert"></ion-icon>
	{% elseif flash_message.type is same as("success") %}
		<ion-icon name="checkmark-circle"></ion-icon>
	{% elseif flash_message.type is same as("warning") %}
		<ion-icon name="information-circle"></ion-icon>
	{% endif %}

	{% if flash_message.message is iterable %}
	There were some problems:
	<ul>
		{% for message in flash_message.message %}
		<li> {{ message }} </li>
		{% endfor %}
	</ul>
	{% else %}
		{{ flash_message.message }}
	{% endif %}
</span>
{% endif %}