<div class="menu-title">
  <span> Sign In / <a href="#" class="link change register">Register</a></span>
  <button id="close-menu" class="close-menu">
    <ion-icon name="close"></ion-icon>
  </button>
</div>

<form action="login" method="post">
  <div class="form-group">
    <label for="inputEmail"> Email </label>
    <input type="email" name="email" id="inputEmail" required>
  </div>

  <div class="form-group">
    <label for="inputPassword"> Password </label>
    <input type="password" name="password" id="inputPassword" required>
  </div>

  <div class="form-group checkbox">
    <input type="checkbox" name="remember_me" id="remember_me">
    <label for="remember_me"> Remember me</label>
  </div>

  <button type="submit" class="submit-form-btn"> Log In </button>
</form>
<a href="#" class="link">Forgot your password?</a>